---
import Layout from '@/layouts/Layout.astro';
import HTMLFrame from '@/components/HTMLFrame.astro';
import Keyvisual from '@/components/index-parts/Keyvisual.astro';
import HighlightsItem from "@/components/index-parts/HighlightsItem.astro";
import cms from "@/apis/cms.js";

// Introduce
const introduce = await cms.getItem("introduce");

// Highlights
const highlights = await (async () => {
	const content = await cms.getItems("highlights");
	return content.data.map((item) => ({
		title: item.title,
		date: item.date,
		link: item.link,
		_id: item.thumbnail._id,
		path: item.thumbnail.path,
	}));
})();
---

<Layout title="PANMry Works Official Homepage" page="index">
	<div class="main">
		<Keyvisual />
    <section id="intro">
			<h2>INTRODUCE</h2>
			<hr>
			<div class="introduce">
				<HTMLFrame text={introduce.text} />
			</div>
    </section>
    <section id="highlights">
			<h2>HIGHLIGHTS</h2>
			<hr>
			<div class="highlights">
				<div class="highlights__items">
					{
						highlights.map((item) => (
							<HighlightsItem title={item.title} date={item.date} path={item.path} _id={item._id} link={item.link} />
						))
					}
				</div>
			</div>
    </section>
  </div>
</Layout>

<script>
	import { ancherSmoothScroll, headerNavSmoothScroll } from '@/scripts/scroll.js';
	window.addEventListener('DOMContentLoaded', ancherSmoothScroll);
	document.addEventListener("DOMContentLoaded", headerNavSmoothScroll);
</script>

<style lang="scss">
	.main {
		& > section {
			h2 {
				width: 100%;
				text-align: center;
				font-size: 2rem;
				padding: 15px 0px;
				color: var(--accent);
				font-weight: bold;
			}
		}
	}

	.introduce {
		width: var(--margin-percentage);
		max-width: calc(var(--screen-max-width) * var(--margin-rate));
		margin: 0 auto;
		font-size: 1.4rem;
		padding: 15px 0px;
		color: rgb(177, 177, 177);
	}

	.highlights {
		width: 100%;
		overflow-x: scroll;
		&__items {
			display: table;
			height: 320px;
			margin: 0 auto;
			white-space: nowrap;
			text-align: center;
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
	}
</style>
