---
import Layout from "@/layouts/Layout.astro";
import ImageWp from "@/components/paletopia-parts/ImageWp.astro";
import cms from "@/apis/cms.js";
const kvURL = cms.getAssetFullPath("/2024/04/05/keyvisual_uid_660f7c4c38ca7.jpg");
const BaseImage = cms.getAssetFullPath("/2024/04/05/baseicon_uid_660f7c4c27a76.jpg");
const members = await (async () => {
  const contents = await cms.getOrderedItems("paletopiamembers", "alignment_sequence", 1);
  return contents.map((item) => {
    return {
      position: item.position,
      name: item.name,
      icon: cms.getAssetFullPath(item.icon.path),
    };
  });
})();
const news = await cms.getOrderedItems("paletopianews", "date", -1);
const conceptarts = (await cms.getItems("paletopiaconceptarts"))
  .data.map((item) => cms.getAssetFullPath(item.image.path));
---
<Layout title="Paletopia | PANMry Works Official Homepage" page="paletopia">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<div class="main">
    <section id="keyvisual">
      <h2>Paletopia</h2>
      <hr />
      <div class="keyvisual__image">
        <ImageWp src={kvURL} max_w="1200px" />
      </div>
    </section>
    <section id="movies">
      <h2>Movies</h2>
      <hr />
      <div class="videos">
        <iframe class="videos__content"
          src="https://www.youtube.com/embed/rcwdNF838vQ"
          title="『Paletopia』 ゲーム紹介動画"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>
    </section>
    <section id="news">
      <h2>News</h2>
      <hr />
      <ol>
        {
          news.map((n) => (
            <li><time>{n.date}</time><span>{n.title}</span></li>
          ))
        }
      </ol>
    </section>
    <section id="conceptarts">
      <h2>Concept Arts</h2>
      <hr />
      <div class="gallery">
        <div class="gallery__contents">
          {
            conceptarts.map((src) => (
              <ImageWp src={src} h="200px" w="auto" />
            ))
          }
        </div>
      </div>
    </section>
    <section id="goods">
      <h2>Goods</h2>
      <hr />
      <div class="shoplinks">
        <a href="https://mikorush.theshop.jp/" target="_blank" class="shoplink">
          <p class="shoplink__title">FF3E00 Powered by BASE</p>
          <p class="shoplink__description">アートワークの販売</p>
          <div class="shoplink__logo">
            <ImageWp src={BaseImage} max_w="100px" max_h="100px" />
          </div>
        </a>
      </div>
    </section>
    <section id="members">
      <h2>Members</h2>
      <hr />
      <div class="members">
        <ul class="profiles">
          {
            members.map((p) => (
              <li class="profile">
                <span class="profile__position">{p.position}</span><br />
                <span class="profile__name">{p.name}</span>
                <div class="profile__icon">
                  <ImageWp src={p.icon} max_w="100px" max_h="100px" />
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <section id="sns">
      <h2>SNS</h2>
      <hr />
      <ul class="snsbtniti2">
        <li>
          <a href="https://twitter.com/MIKORUSH2001" class="flowbtn18 fl_tw2">
            <i class="fab fa-twitter"></i>
            <div>Twitter</div>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/mkrs.2001/" class="flowbtn18 insta_btn2">
            <i class="fab fa-instagram"></i>
            <div>Instagram</div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</Layout>

<script>
	import { ancherSmoothScroll } from '@/scripts/scroll.js';
	window.addEventListener('DOMContentLoaded', ancherSmoothScroll);
</script>

<style lang="scss">
  @use "@/styles/mediaquery" as mq;

  .main {
    & > section {
      width: 100%;
      margin: 1.8rem auto;
      // @include mq.break(mb) {
      //   width: 90%;
      // }

      &:last-child {
        margin-bottom: 3.6rem;
      }

      & > * {
        width: var(--margin-percentage);
        max-width: calc(var(--screen-max-width) * var(--margin-rate));
        margin: 0 auto;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem 0;
      }

      hr {
        height: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin-bottom: 1rem;
      }

      ol li {
        display: block;

        time {
          margin-right: 1rem;
        }
      }
    }
  }

  /* Keyvisual */
  .keyvisual__image {
    text-align: center;
    width: 100% !important;
  }
  
  /* Video */
  .videos {
    text-align: center;
    width: 100% !important;

    &__content {
      // width="640" height="360"
      width: 100%;
      max-width: 640px;
      height: auto;
      aspect-ratio: 16 / 9;
    }
  }

  /* Concept Arts */
  .gallery {
    max-width: 1143px !important;
    box-shadow: inset 20px 0 15px 0 rgba(0, 0, 0, 0.8),
      inset -20px 0 15px 0 rgba(0, 0, 0, 0.8);
    // scrollbar-width: 5px;
    text-align: center;

    &__contents {
      display: flex;
      overflow-x: scroll;
      padding: 1rem 3rem;
      gap: 1rem;
    }
  }

  /* Goods */
  .shoplinks {
    width: 100%;

    .shoplink {
      border: 1px solid var(--white);
      border-radius: 4px;
      padding: 10px 15px;
      display: block;
      position: relative;
      min-height: calc(100px - 20px);
      &:hover {
        border: 1px solid var(--black-2);
        color: var(--black-2);
        transition: var(--trs-duration);
      }

      &__title {
        margin-bottom: .6rem;
        display: block;
        width: calc(100% - 100px);
      }

      &__description {
        color: var(--white);
        font-weight: bold;
        font-size: .9rem;
        display: block;
        width: calc(100% - 100px);
      }

      &__logo {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        right: 0;
        border-radius: 4px;
        overflow: hidden;
      }
    }
  }

  /* Members */
  .members {
    .profiles {
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      @include mq.break(mb) {
        flex-flow: column;
      }

      .profile {
        text-align: center;

        &__name {
          font-size: 1.2rem;
        }

        &__icon {
          width: 100px;
          overflow: hidden;
          border-radius: 50%;
          margin: 1rem auto;
        }

        @include mq.break(mb) {
          $iconSize: 100px; // = アイコン画像の高さ
          height: $iconSize;
          position: relative;
          text-align: left;
          border-bottom: 1px solid var(--white-2);
          padding: 1rem;

          &:last-child {
            border-bottom: 0;
          }

          &__icon {
            width: $iconSize;
            height: $iconSize;
            position: absolute;
            top: 1rem;
            left: 1rem;
            margin: 0;
          }

          &__position {
            position: absolute;
            top: 25%;
            left: calc($iconSize + 1.5rem);
          }

          &__name {
            width: 50%;
            position: absolute;
            top: 50%;
            left: calc($iconSize + 1.5rem);
            padding-left: 2rem;
          }
        }
      }
    }
  }
</style>

<style>
   /* SNS follow icon */
   a.flowbtn18 {
    display: inline-block;
    width: 90%;
    height: 50px;
    border-radius: 4px;
    background-color: #444;
    color: #fff !important;
    position: relative;
  }

  .flowbtn18 i {
    font-size: 20px;
    width: 100%;
    height: 50%;
  }
  .flowbtn18 i::before {
    position: relative;
    top: 4px;
  }

  .flowbtn18 div {
    font-size: 1.1rem;
    display: inline-block;
    position: relative;
    top: 4px;
  }

  /* Twitterマウスホバー時 */
  .flowbtn18.fl_tw2:hover {
    background: linear-gradient(135deg, #13f1fc 0%, #0470dc 100%);
  }

  /* Instagramマウスホバー時 */
  .flowbtn18.insta_btn2:hover {
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  }

  /* Facebookマウスホバー時 */
  .flowbtn18.fl_fb2:hover {
    background: -webkit-linear-gradient(top, #5c80c6 0%, #34528c 74%);
    background: linear-gradient(to bottom, #5c80c6 0%, #34528c 74%);
  }

  /* Feedlyマウスホバー時 */
  .flowbtn18.fl_fd2:hover {
    background: linear-gradient(135deg, #b1ea4d 0%, #459522 100%);
    font-size: 28px;
  }

  /* Pocketマウスホバー時 */
  .flowbtn18.fl_pk2:hover {
    background: linear-gradient(135deg, #f36265 0%, #dd4f68 100%);
  }

  .flowbtn18.fl_hb2 {
    font-size: 25px;
  }

  /* はてブマウスホバー時 */
  .flowbtn18.fl_hb2:hover {
    background: -webkit-linear-gradient(top, #1fbccd 0%, #1c91d4 84%);
    background: linear-gradient(to bottom, #1fbccd 0%, #1c91d4 84%);
  }

  /* YouTubeマウスホバー時 */
  .flowbtn18.fl_yu2:hover {
    background: linear-gradient(135deg, #f5515f 0%, #c9293c 100%);
  }

  /* LINEマウスホバー時 */
  .flowbtn18.fl_li2:hover {
    background: linear-gradient(135deg, #3a9278 0%, #00c300 100%);
  }

  /* お問い合わせマウスホバー時 */
  .flowbtn18.fl_ma2:hover {
    background: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
  }

  /* プロフィールマウスホバー時 */
  .flowbtn18.fl_pf2:hover {
    background: linear-gradient(135deg, #fad961 0%, #f8a33f 100%);
  }

  /* ulタグの内側余白を０にする */
  ul.snsbtniti2 {
    padding: 0 !important;
  }

  /* アイコンボタンの位置調整 */
  .snsbtniti2 {
    display: flex;
    flex-flow: row wrap;
  }

  /* アイコンボタン同士の余白調整 */
  .snsbtniti2 li {
    justify-content: space-between;
    width: 50%;
    max-width: 200px;
    text-align: center !important;
  }
</style>